
/* Base Styles */

ol, ul {
  list-style: none; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
  background-color: #F7F7F7;
  min-height: 100%;
  height: auto;
}

body  {
  font-family: 'Lato', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 160%;
  color: #555459;
  line-height: 1.5rem;
    *zoom: 1;
}

.card {
  background: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  position: relative;

}

@media all and (max-width: 400px) {
  main {
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', serif;
  font-weight: 100;
}


h1{
  /*font-size: 2.2rem;*/
  line-height: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
  font-weight: 700;
  font-family: Lato,appleLogo,sans-serif;
  margin: 0 0 1rem;
}


h2{
  font-weight: 400;
  /*font-size: 1.5rem;*/
  line-height: 90%;
  margin-bottom: 5px;
  margin-top: 10px;
}

h3{
  margin-top: 0;
  /*font-size: 1.2rem;*/
  line-height: 110%;
  margin-bottom: 5px;
}


a.small {
  /*line-height: 100%;
  font-size: .9rem;*/
}

input, select, textarea, .input-group-addon, .btn {
  border-radius: 0px;
}

/* thanks you based stackoverflow */
/*http://stackoverflow.com/questions/24210132/remove-border-radius-from-select-tag-in-bootstrap-3*/
select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url('images/select-arrow.svg');
    padding: .5em;
    padding-right: 1.5em
}

