input {
/*  width: 100%;
  display: inline-block;
  font-weight: 100;
  padding: 15px;
  font-size: 1.3rem;
  color: #475B62;
  border: 1px solid #C5C5C5;
  outline: 0;*/
}

textarea {
/*  width: 100%;
  display: inline-block;
  font-weight: 100;
  padding: 15px;
  font-size: 1rem;
  color: #475B62;
  border: 1px solid #C5C5C5;
  outline: 0;  */
}

.btn {
  margin: 1em 1em 1em 0em;
}